<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
  <div class="container px-5">
    <a class="navbar-brand" href="#home">H.O.P.E. Missions Ministries</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
        <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="mt-5 position-relative" id="home">&nbsp;</div>
<header class="text-center position-relative">
  <div class="container px-5">
    <ngb-carousel [pauseOnHover]="true" [interval]="5000">
      <ng-template ngbSlide>
        <div>
          <img src="../assets/images/carousel/ribbon_cutting.jpeg" alt="Ribbon Cutting Ceremony">
        </div>
        <div class="carousel-caption">
          <h3>Ribbon Cutting Ceremony</h3>
          <p>Late H.O.P.E. Missions Ministries president Mitchell Osborne (middle) is pictured with vice president Billy Parrott (left) and Mafredi village leader
            and friend Gerry Parham (right). This ribbon cutting ceremony marked the official beginning of the H.O.P.E. Center being active in Mafredi.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div>
          <img src="../assets/images/carousel/front_of_center.jpeg" alt="Front of H.O.P.E. Center">
        </div>
        <div class="carousel-caption">
          <h3>Front View of the H.O.P.E. Center</h3>
          <p>This cute tree frog welcomes all visitors to the H.O.P.E. Center as the first thing they see on the wall pulling in.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div>
          <img src="../assets/images/carousel/he_will_be_like_a_tree.jpeg" alt="Interior Mural">
        </div>
        <div class="carousel-caption">
          <h3>Interior Mural</h3>
          <p>A mural painted on one of the interior walls.</p>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
</header>

<section id="about">
<div class="container px-5">

  <div class="row gx-5 d-flex flex-column align-items-center justify-content-center">
    <div class="col-lg-12">
      <div class="p-5">
        <h2 class="display-2 text-center">About H.O.P.E. Missions</h2>
      </div>
    </div>
  </div>

  <div class="row gx-5 align-items-center">
    <div class="col-lg-6 order-lg-1">
      <div class="p-5">
        <h3 class="display-4">H.O.P.E. Missions Ministries</h3>
        <p> Founded in 2004 H.O.P.E. (Housing Outreach Plus Evangelism) Missions Ministries has been serving the village of
          Mafredi in Belize, C.A. for 18 years. </p>
      </div>
    </div>
    <div class="col-lg-6 order-lg-2">
      <div class="p-5"><img class="img-fluid rounded-circle" src="../assets/images/about/tree_frog.jpeg" alt="Mural of a Tree Frog"></div>
    </div>
  </div>

  <div class="row gx-5 align-items-center">
    <div class="col-lg-6 order-lg-2">
      <div class="p-5">
        <h3 class="display-3">Mafredi Village</h3>
        <p> Located in southern Belize, about 17 miles (28km) inland for the coastal city of Punta Gorda and about 18 miles (29kms)
          from the Guatemalan border. Mafredi is a small peaceful village nested against the edge of the Guatemalan mountains.
          It was here in 2000 that late H.O.P.E. Missions president Mitchell Osborne made a mission trip with the Methodist Church to
          help build the village church that ultimately lead to his love for the community and a home-away-from-home.</p>
      </div>
    </div>
    <div class="col-lg-6 order-lg-1">
      <div class="p-5"><img class="img-fluid rounded-circle " src="../assets/images/about/mafredi.jpeg" alt="Picture of the Church and School in Mafredi"></div>
    </div>
  </div>

</div>
</section>

<section id="contact">
  <div class="container px-5">

    <div class="row gx-5 d-flex flex-column align-items-center justify-content-center">
      <div class="col-lg-12">
        <div class="p-5">
          <h2 class="display-2 text-center">Contact Information</h2>
        </div>
      </div>
    </div>

    <div class="row gx-5 align-items-center">
      <div class="col-lg-6 order-lg-1">
        <div class="p-5 text-start">
          <h4><i class="lni lni-envelope p-1"></i>hopemissionsbelize@gmail.com</h4>
          <h4><i class="lni lni-phone p-1"></i>+16065585675</h4>
          <h4><a><i class="lni lni-facebook p-1"></i>H.O.P.E. Missions Facebook Page</a></h4>
        </div>
      </div>
      <div class="col-lg-6 order-lg-2">
        <div class="p-5"><img class="img-fluid rounded-circle" src="../assets/images/contact/osborne_family.jpeg" alt="Picture of the Osborne Family"></div>
      </div>
    </div>

  </div>
</section>
<!-- Footer-->
<footer class="py-5">
  <div class="container px-5"><p class="m-0 text-center text-white small">Copyright &copy; H.O.P.E. Missions Ministries 2022</p></div>
</footer>
